* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: auto;
  margin: 0 auto;
}
.nav {
  height: 70px;
  box-shadow: 0 5px 20px 2px rgba(0, 0, 0, 0.1);
}
:root {
  --white: #fff;
  --black: #000;
}
.nav__container {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
}
.left__container img {
  width: 200px;
  padding-left: 50px;
}
.right__container {
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
}
.header {
  background: url("./images/back2.jpg");
  width: 100vw;
  height: 100vh;
  position: center;
  background-repeat: no-repeat;
}
.basket {
  position: relative;
}
.basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -15px;
  top: -15px;
  width: 25px;
  height: 25px;
  background: cornflowerblue;
  border-radius: 50%;
  font-size: 12px;
}
.product_img img {
  margin: 10px 10px 4px 5px;
  width: 200px;
  height: 150px;
}
